<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="" src="{{ asset('build/logo.jpg') }}">
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ path('home') }}">
        Home
      </a>
      <a class="navbar-item {{ app.request.get('_route') == 'avengers' ? 'is-active'}}" href="{{ path('avengers') }}">
        Nos avengers
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link">
             <span class="icon is-small">
               <i class="material-icons">chat</i>
             </span>
            <span>Discussion</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>